@import '../index.scss';
@import './variables.scss';

.codeGalleryText{
	border-radius:25px;
}

.codeGalleryThumbnail{
	border-radius:25px;
	border: #383531 solid 8px;
	height: $thumbnailHeight;
	background-size: 300px; 
	background-position: center;
}

.codeGalleryThumbnail:hover{
transition:.3s;
	border: #615d57 solid 6px;
	/*opacity:.7;*/
}

.codeImage{
	border-radius:100px;
	background-color:#383531;
}

.codeThumbnailBackground{
	/*border-radius:30px;
	background-color:#fff;*/
	
}