$bodyFont: 'Exo 2', sans-serif;
$headerFont: 'Raleway', sans-serif;

$exo: 'Exo 2', sans-serif;
$raleway: 'Raleway', sans-serif;

$largeFont: 4rem;
$mediumFont: 1.3rem;
$lineHeight: 1.3rem;
$accentHeight: 1.2rem;

$dark: #29251e;
$midDark: #383531;
$midLight: #928F87;
$light: #fcfaf5;


$darkTeal:#0a6793;

$orange: #de4000;
$medium: #615d57;
$lightest:#fcfaf5;
$blue:#025dc6;
$lightTeal:#49e5d8;
$cream: #efe5d9;
$smokyCream: #d6cfc4;
$lightShadow:#C9C6BF;
$lightHover:#e2e1dc;

$thumbnailHeight: 7rem;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}



@mixin linearGradient($color1, $color2) {
  background: linear-gradient($color1, $color2);
}