@import '../index.scss';
@import './variables.scss';

.videoThumbnail{
  border-radius: 0px 56px 56px 0px;
  margin-right: 10px !important;
  /*@include linearGradient(#fcfaf5, #d9faf6);*/
  background-color: #fcfaf5;
  margin-bottom: 5px;
  margin-top: 5px !important;




  .playButton{
  color: $dark;
  width: 3rem;
  height: 3rem;
  position: absolute;
  z-index: 20;
  }

  .playBackground{
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    z-index: 10;
    left: 9px;
    top: 9px;
  }
}

.videoThumbnail:hover .playButton {
  /*color: #0b9a94;*/
}


.videoThumbnail:hover{
  transition: 0.3s;
  opacity: .8;
  margin-bottom: 5px;
  margin-top: 5px !important;
}


.videoHeader{
background: linear-gradient(#82e6da,#0b9a94);
}

.videoBackground{
background-color: #0b9a94;
}


.videoTextArea{
background-color: #fcfaf5;
}

