@import '../styles/variables.scss';

.fiveCardCluster{
	position:relative;
	background-color:$midDark;
	margin-right: 10px !important;
    margin: 0 5px 5px 5px;
    border-radius: 25px;
    height:420px;
    color:$light !important;
}

.fiveCardCluster:hover{
	transition: 0.3s;
	color:$light!important;
	background-color:$medium;
}

.cardButton{
	position:absolute;
	bottom:2rem;
}

.fiveCardCluster:hover .btn-primary{
	background-color:$midLightBlue !important;
}

.fiveCardClusterTitle{
	text-align:center;
	padding-bottom:48px;
	padding-top:48px;
	font-size:3rem;

}

.fiveCardImage{
	height: 11rem;
    background-size: 450px;
	background-position: center;	
}

.fiveCardImageFull{
	height: 11rem;
    background-size: 700px;
	background-position: center;	
}

/*
.fiveCardClustera:hover{
	transition: 0.3s;
	color:$dark !important;
	text-decoration: none !important;
}*/