@import '../styles/variables.scss';

.roundedEdgesTop{
	border-radius: 1rem 1rem 0px 0px !important;
}

.roundedEdges{
	border-radius: 1rem !important;
}

.fourCardTitle{
	color:$medium !important;
	text-align:center;
}

.fourCardBackground{
	background-color:$light;
}

.fourColBackground{
	color:$dark !important;
	font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 4rem;
}

.fourColCard{
	margin-right: 10px !important;
    margin: 0 5px 5px 5px;
    border-radius: 25px;
    height:420px;
}

.fourColCard:hover{
	background-color:rgba(0,0,0,.1);
	transition: 0.3s;
}

.fourColThumbnail{
	border: $light solid 10px;
    height: 7rem;
    background-size: 300px;
    background-position: center;
    border-radius: 25px;
}
.fourColThumbnail:hover{
	border: $light solid 10px;
}

.fourColButton{
	position:absolute;
	bottom:2rem;
}

.fourColCard:hover .fourColThumbnail{
	transition: 0.3s;
    border: $lightHover solid 10px;
}

.fourColCard:hover .fourColButton {
	transition: 0.3s;
    background-color: #0271c8;
}

.fourColCard:hover .fourColButton:hover{
	transition: 0.3s;
    background-color: #0271c8!important;
}

.outlineFourCards{
	border: $lightShadow 1px solid;
    border-radius: 1rem !important;
    margin-right: 0.5rem;
    box-shadow: 2px 2px $lightShadow;
}