// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

.thumbnailBoxGallery{
  height: 7rem;
	background-size: 193px;
  	background-position: top;
  @include sm{
    height: 300px;
    background-size: 193px;
    background-position: top;
  }
  @include md{
    height: 150px;
    background-size: 250px; 
    background-position: center;
  }
// 992px window width and more
    @include lg {
      height:19rem;
      background-size: 250px;
      background-position: center; 
    }
}

.galleryThumbnailContainer{
	padding: 0px !important;
  height: 100px;
  @include sm{
    height: 300px;
  }
  @include md{
    height: 150px;
  }
// 992px window width and more
    @include lg {
      height: 300px;
    }
}

.galleryThumbnailContainer:hover{
	cursor:pointer;
  border:red solid 1px;
  background-color: rgba(1,1,1,.7)!important;
}

.galleryText{
    text-align:center;
    padding: 20px;
@include sm{
    padding-top:5%;
  }
  @include md{
   
  }
// 992px window width and more
    @include lg {
      padding-top:10%;
    }
}