@import '../index.scss';
@import '../styles/variables.scss';

.navOverlayPosition{
  position:absolute;
  z-index:500;
  top:0px;
  right:0px;
}

.navOverlayButtons{
  position: absolute;
  right: 2rem;
}

.togglerShadowDark{
  box-shadow: 2px 2px $dark;
}

.navbar {
background: rgba(0,0,0,0);
  height: 80px;
  display: flex;
  justify-content:  flex-start;
  align-items: canter;
}

.navbar-light .navbar-nav .nav-link {
  /*color: $light !important;*/
  font-family:$bodyFont;
  font-weight:600;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.outlineSecondaryNavOverlay{
  border: $dark 1px solid;
  border-radius: 1rem !important;
  margin-right:.5rem;
  box-shadow: 2px 2px $dark;
}

.outlineSecondaryNavOverlay:hover{
  border:$dark 1px solid;
  background-color: rgba(0,0,0,.1);
  box-shadow: 2px 2px $dark;
  transition: 0.3s;
}

.textSecondaryNavOverlay{
  color:$lightBlue !important;
}

.nav-item:hover .textSecondaryNavOverlay{
  color:$midLightBlue !important;
}

.textNavOverlay:hover{
  color:$dark !important;
  text-decoration: none;
}

.headerTextNavOverlay{
  text-shadow: 2px 2px $dark;
  font-size: 22px !important;
  font-family:$headerFont;
  color:$lightest !important;
  @include sm {
    font-size: 22px !important;
    }
  @include md{
    font-size: 30px !important;
    }
  @include lg {
  font-size: 30px !important;
  }
  @include xl {
     font-size: 2rem !important;
  }
}

