@import '../index.scss';
@import '../styles/variables.scss';

.secondaryPageHeaderTitle{
	font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: $light;
    text-align:center;
    padding-top:3rem;
    @include sm{
        font-size: 2rem;
      }
      @include md{
        font-size: 2.5rem;
      }
      @include lg {
        font-size: 3rem;
      }
}

.secondaryPageHeaderEyebrow{
	color: $light;
    font-family: "Exo 2", sans-serif;
    font-weight: 600 !important;
    text-align:center;
}