@import '../styles/variables.scss';

/*$thumbnailHeight: 5rem;

.thumbnailBox{
	height: $thumbnailHeight;
}*/

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

.sliderTitle{
    font-family: "Exo 2", sans-serif;
    font-weight: 600 !important;
    color: $light;
    font-size: 1.7rem;
    line-height: 2.2rem;
}

.sliderBodyText{
  font: 1rem "Exo 2", sans-serif;
  color: $light;
  line-height: 1.3rem;
}

.sliderText{
  height: 150px;
  margin-bottom: 2rem;
  margin-top:50px !important;
  border-radius: 25px;
  padding: 20px;
}

#slider {
  position: relative;
  width: 100%; /*50%*/
  height: 200vw;/*30vw*/
  margin: 0px auto;
  perspective: 1400px;
  transform-style: preserve-3d;
    @include sm{
    width: 100%; /*50%*/
	height: 200vw;/*30vw*/
	}
  @include md{
    width: 100%; /*50%*/
	height: 200vw;/*30vw*/
  }
// 992px window width and more
    @include lg {
      width: 70%;
	height: 50vw;
    }
}

input[type=radio] {
  position: relative;
  bottom: 8%;
  left: 19%;
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
    @include sm{
    width: 30px;
  height: 30px;
  }
  @include md{
    width: 30px;
  height: 30px;
  }
// 992px window width and more
    @include lg {
      width: 18px;
  height: 18px;
    }
}

input[type=radio]:nth-child(5) {
  margin-right: 0px;
}

input[type=radio]:checked {
  opacity: 1;
}

#slider label {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

#slide1 {
  background: #383531;
  background-image: url('../components/images/color-api.png');
  background-size:     contain;                     
    background-repeat:   no-repeat;
    background-position: center center;
}

#slide2 {
  background: #383531;
  background-image: url('../components/images/wireframe.png');
  background-size:     contain;                    
    background-repeat:   no-repeat;
    background-position: center center;
}

#slide3 {
  background: #383531;
  background-image: url('../components/images/unit-tests.png');
  background-size:     contain;                    
    background-repeat:   no-repeat;
    background-position: center center;
}

#slide4 {
  background: #383531;
  background-image: url('../components/images/race-to-the-moon-draft.jpg');
  background-size:     contain;                    
    background-repeat:   no-repeat;
    background-position: center center;
}

#slide5 {
  background: #383531;
  background-image: url('../components/images/mega-menu-indent-line.jpg');
  background-size:     contain;                    
    background-repeat:   no-repeat;
    background-position: center center;
}

#slide1:hover{
  background-color: #615d57;
  transition: 0.3s;
}

#slide2:hover{
  background-color: #615d57;
  transition: 0.3s;
}

#slide3:hover{
  background-color: #615d57;
  transition: 0.3s;
}

#slide4:hover{
  background-color: #615d57;
  transition: 0.3s;
}

#slide5:hover{
  background-color: #615d57;
  transition: 0.3s;
}


/* Slider Functionality */

/* Active Slide */
#s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3, #s4:checked ~ #slide4, #s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide4, #s4:checked ~ #slide5, #s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(15%, 0, -100px);
}


/* Next to Next Slide */
#s1:checked ~ #slide3, #s2:checked ~ #slide4, #s3:checked ~ #slide5, #s4:checked ~ #slide1, #s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(30%, 0, -250px);
}

/* Previous to Previous Slide */
#s1:checked ~ #slide4, #s2:checked ~ #slide5, #s3:checked ~ #slide1, #s4:checked ~ #slide2, #s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(-30%, 0, -250px);
}

/* Previous Slide */
#s1:checked ~ #slide5, #s2:checked ~ #slide1, #s3:checked ~ #slide2, #s4:checked ~ #slide3, #s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(-15%, 0, -100px);
}

.description{
	    bottom: 5%;
    position: relative;
}
