@import '../styles/variables.scss';

.threeColContainer{
  position:relative;
  height: 152vw;
  background-color:$dark;
  @include sm{
    height: 50vw;
  }
  @include md{
  height: 50vw;
  }
  @include lg {

  }
}

.gitHubLogo{
  margin-right:10px;
}

.linkedinButton{
  margin-left:0px;
  margin-top:5px;
  height: 40px;
  @include sm{
    margin-left:5px;
  margin-top:0px;
  }
  @include md{
    margin-left:5px;
  margin-top:0px;
  }
  @include lg {
    margin-left:5px;
  margin-top:0px;
    }
}

.relativeContainer{
	position:relative;
}

.threeColBackgroundImage{
	z-index:0;
	position:relative;
	max-width: 400%;
  height: 568px;
    left: -231px;
    top: 0px;
  @include sm{
    max-width: 100%;
    height: auto;
    left: 0px;
    top:0px;
  }
  @include md{
    max-width: 100%;
    height: auto;
    left: 0px;
    top:0px
  }
  @include lg {
    max-width: 100%;
    height: auto;
    left: 0px;
    top:-50px;
    }

}

.threeColHeader {
	font-family: $raleway;
    font-weight: 700;
    font-size: 1.5rem;
    color: $midDark;
  @include sm{
    font-size: 1.2rem;
  }
  @include md{
    font-size: 2rem;
  }
// 992px window width and more
    @include lg {
      font-size: 3rem;
    }

}
.threeColAccent{
	font-family: $raleway;
    color: $midDark;
    font-size: 12px;
    line-height: .9rem;
    text-align: left;
  @include md{
    font-size: 20px;
    line-height: .9rem;
    
  }
// 992px window width and more
    @include lg {
    	font-size: 1.1rem;
    	line-height: 1.5rem;
    }

}
.threeColText{
    font-family: $exo;
    color: $midDark;
    font-size: 13px;
    line-height: 13px;
    margin-top:20px;
  @include sm{
  	font-size: 13px;
    line-height: 13px;
  }
  @include md{
    font-size: 15px;
    line-height: 15px;
  }
// 992px window width and more
    @include lg {
      font-size: 18px;
    line-height: 18px;
    }

}

.topText {
  z-index:200;
	position:absolute;
	top:20%;
	padding: 0 1rem 0 0;
  @include sm{
    top:25%;
    padding: 0 2rem;
  }
  @include md{
    top:20%;
    padding: 0 2rem;
  }
// 992px window width and more
    @include lg {
      top:20%;
      max-width: 1200px;
      right: 0px;
    }

}