@import '../styles/variables.scss';

.threeColContainer{
  position:relative;
  height: 95vw;
  background-color:$lightHover;
  @include sm{
    height: 50vw;
  }
  @include md{
  height: 50vw;
  }
  @include lg {

  }
}

.relativeContainer{
	position:relative;
}

.threeColBackgroundImage{
	z-index:0;
	position:relative;
	max-width: 400%;
  height: 500px;
  left: -115px;
  top:-10px;
  @include sm{
    max-width: 100%;
    height: auto;
    left: 0px;
    top:0px;
  }
  @include md{
    max-width: 100%;
    height: auto;
    left: 0px;
    top:-10px
  }
  @include lg {
    max-width: 100%;
    height: auto;
    left: 0px;
    top:-100px;
    }

}

.threeColHeader {
	font-family: $raleway;
    font-weight: 700;
    font-size: 1.5rem;
    color: $midDark;
  @include sm{
    font-size: 1.2rem;
  }
  @include md{
    font-size: 2rem;
  }
// 992px window width and more
    @include lg {
      font-size: 3rem;
    }

}
.threeColAccent{
	font-family: $raleway;
    color: $midDark;
    font-size: .9rem;
    line-height: .9rem;
    text-align: left;
  @include sm{
    font-size: .8rem;
    line-height: .9rem;
    
  }
  @include md{
    font-size: .9rem;
    line-height: .9rem;
    
  }
// 992px window width and more
    @include lg {
    	font-size: 1.1rem;
    	line-height: 1.1rem;
    }

}
.threeColText{
    font-family: $exo;
    color: $midDark;
    font-size: 1rem;
    line-height: 1rem;
  @include sm{
  	font-size: .8rem;
  	line-height: .9rem;
  }
  @include md{
    font-size: 1rem;
    line-height: 1rem;
  }
// 992px window width and more
    @include lg {
      font-size: 1.2rem;
      line-height: 1.2rem;
    }

}

.topText {
  z-index:200;
	position:absolute;
	top:20%;
	padding: 0 1rem 0 0;
  @include sm{
    top:25%;
    padding: 0 2rem;
  }
  @include md{
    top:20%;
    padding: 0 2rem;
  }
// 992px window width and more
    @include lg {
      top:20%;
      max-width: 1200px;
      right: 0px;
    }

}