$lightBackground: #E9ECEF;
$textLight: #6c757d;
$textMain: #495057;
$yellow: #fde35c;

body{
	background-color:  $lightBackground;
}

.yellow{
    color: $yellow;
}

.white{
    color: #CEE3FD;
}

.times{
    font-family: 'Times';
}

.small{
    font-size: 1rem;
}

.large{
    font-size: 4rem;
}


