@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Catamaran&family=Josefin+Sans:wght@100&family=Source+Sans+Pro:wght@300&family=Yanone+Kaffeesatz:wght@200&display=swap');

*{
	box-sizing: border-box;
	margin:  0;
	padding:  0;
	font-family: 'Catamaran', sans-serif;

}

body{
background-color: #f1edc0; 
}

.card{
box-shadow: 0px 0px 10px 5px #274b75;
	/*box-shadow: 5px 10px 8px #d15d22;*/
}

nav{
	background-color:#01418b;
	box-shadow: 0px 0px 10px 5px #274b75;
}

nav a, nav .navbar-nav a{
	color: #CEE3FD;
}

.btn-primary{
	background-color:#e3cb50!important;
	color:#000;
}