@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;600&family=Raleway:wght@800&display=swap');

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

.fullScreenWarning {
    border: solid red 10px;
    background-color: rgba(255, 0, 0, 0.9);
    position: absolute;
    width: 700px;
    height: 700px;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 700px;
    filter: blur(1.5rem);
// 576px window width and more
    @include sm {
      border: solid blue 10px;
      background-color: rgba(255, 0, 0, 0.9);
      position: absolute;
      width: 700px;
      height: 700px;
      top: 0;
      z-index: 10;
      width: 100%;
      height: 700px;
      filter: blur(1.5rem);
    }
// 992px window width and more
    @include lg {
      display: none;
    }

}


$bodyFont: 'Exo 2', sans-serif;
$headerFont: 'Raleway', sans-serif;

$largeFont: 4rem;
$mediumFont: 1.3rem;
$lineHeight: 1.3rem;
$accentHeight: 1.2rem;

$dark: #29251e;
$midDark: #3c2b0d;
$midLight: #ede6da;
$light: #fcfaf5;

$lightTeal:#49e5d8;
$darkTeal:#0a6793;


$medium: #5e4823;
$lightest:#fcfaf5;
$blue:#025dc6;
$lightTeal:#49e5d8;

$thumbnailHeight: 7rem;


.thumbnailBox{
  height: $thumbnailHeight;
}

.playButton{
  color: $dark;
  width: 3rem;
  height: 3rem;
  position: absolute;
  z-index: 20;
}

.playBackground{
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  z-index: 10;
  left: 9px;
  top: 9px;
}

.centerAbsolute{
  top: 30%;
  left: 87%;
  transform: translate(-50%, -50%);
  position: relative;
}

.btn-primary{
  background-color: $lightTeal;
  border-color: $darkTeal !important;
  color: $dark;
  font-family: $bodyFont;
  font-weight:600!important;
}

.bodyTextDark{
  font-family: $bodyFont;
  font-weight:200 !important;
  color: $dark;
}

.bodyTextLight{
  font-family: $bodyFont;
  font-weight:200 !important;
  color: $light;
}

.gradientBackground{
  background: 
      radial-gradient(circle, rgba(130,230,218, 1), rgba(130,230,218, 0)80%),
      linear-gradient(160deg, rgba(69,231,216,1), rgba(69,231,216,0) 60%),
      linear-gradient(45deg, rgba(11,121,173,1), rgba(11,121,173,0) 50%),
      linear-gradient(130deg, rgba(11,154,148,1), rgba(11,154,148,0) 40%),
      linear-gradient(215deg, rgba(10,153,100,1), rgba(10,153,100,20%) 50%),
      linear-gradient(330deg, rgba(6,70,95,1), rgba(6,70,95,0) 50%);
}


.gradientText{
  font-size: 72px;
  background: -webkit-linear-gradient($darkTeal,$lightTeal);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.backgroundDark{
  background-color: $dark;
}

.backgroundMedium{
  background-color: $midLight;
}

.backgroundMidDark{
  background-color: $midDark;
}

.headerText{
  font-family: $headerFont;
  font-weight: 700;
  font-size: $largeFont;
  color: $lightest;
}

.headerTextDark{
  font-family: $headerFont;
  font-weight: 700;
  font-size: $largeFont;
  color: $dark;
}

.smallTitleLight{
  font-family: $bodyFont;
  font-weight:600!important;
  color: $lightest;
}

.smallTitleDark{
  color: $dark;
  font-family: $bodyFont;
  font-weight:600!important;
}

.accentTextDark{
  font-family: $headerFont;
  color: $dark;
  font-size: 1.1rem;
  line-height: $accentHeight;
  text-align: center;
}

.bodyTextLight{
  font: 1rem $bodyFont;
  color: $lightest;
  line-height: $lineHeight;
}

.bodyTextDark{
  font: 1rem $bodyFont;
  color: $dark;
  line-height: $lineHeight;
}

.borderMedium{
  border: solid $medium;
}

.borderLight{
  border: solid $light;
}

.overflow{
  overflow: hidden;
}

.backgroundLightest{
  background-color: $lightest !important;
}

.tealBackground {
  background-color: $lightTeal !important;
  color: $dark !important;
}

/*ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}*/