@import './styles/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Catamaran&family=Josefin+Sans:wght@100&family=Source+Sans+Pro:wght@300&family=Yanone+Kaffeesatz:wght@200&display=swap');

*{
	box-sizing: border-box;
	margin:  0;
	padding:  0;
	font-family: 'Catamaran', sans-serif;

}

body{
background-color: #f1edc0; 
}

.card{
box-shadow: 0px 0px 10px 5px #274b75;
	/*box-shadow: 5px 10px 8px #d15d22;*/
}

nav{
	background-color:#01418b;
	box-shadow: 0px 0px 10px 5px #274b75;
}

nav a, nav .navbar-nav a{
	color: #CEE3FD;
}

.btn-primary{
	background-color:#e3cb50!important;
	color:#000;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: 1rem;
  padding: 0;
  margin:0;
}

a:hover{
  text-decoration:none !important;
}

tr{
      border-color: $midDark !important;
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;600&family=Raleway:wght@800&display=swap');

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

.fullScreenWarning {
    background: 
      radial-gradient(circle, rgba(130,230,218, 1), rgba(130,230,218, 0)80%),
      linear-gradient(160deg, rgba(69,231,216,1), rgba(69,231,216,0) 60%),
      linear-gradient(45deg, rgba(11,121,173,1), rgba(11,121,173,0) 50%),
      linear-gradient(130deg, rgba(11,154,148,1), rgba(11,154,148,0) 40%),
      linear-gradient(215deg, rgba(10,153,100,1), rgba(10,153,100,20%) 50%),
      linear-gradient(330deg, rgba(6,70,95,1), rgba(6,70,95,0) 50%);
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 550px;
    display: flex;
  justify-content: center;
  align-items: center;
  @include sm{
    height: 410px;
  }
  @include md{
    height: 550px;
  }
// 992px window width and more
    @include lg {
      display: none;
    }

}

.game{
  width: 600px; 
  height: 600px;
  // 576px window width and more
    @include sm {
      width: 600px; 
      height: 600px;
    }
    @include sm {
      width: 600px; 
      height: 600px;
    }
    @include md {
      width: 700px; 
      height: 729px;
    }
  // 992px window width and more
    @include lg {
      width: 900px; 
      height: 700px;
    }
}

.altText{
  height: 850px;
}

a:hover, .videoThumbnail:hover{
  cursor: pointer;
}

.relative{
  position: relative;
}

.home{
  background-color:$cream;
}

.linkDark{
  color: $darkBlue;
  text-decoration: underline;
  font-family:$bodyFont;
  font-weight:600;
}

.linkDark:hover{
  color: $midBlue;
}

.link{
  color: $lightBlue;
  text-decoration: underline;
  font-family:$bodyFont;
  font-weight:600;
}
.link:hover{
  color:$midLightBlue;
}

#ganttChart text {
    fill: $light !important;
    font-family:$exo!important;
}

#ganttChart rect{
  fill: $dark;
}

.linkLight{
  color: $lightBlue;
  font-family:$bodyFont;
  font-weight:600;
  text-decoration: underline;
}

.linkLight:hover{
  color:$darkBlue;
  text-decoration: underline;
}

.thumbnailBox{
  height: $thumbnailHeight;
  background-size: 300px; 
  background-position: center;
}

.centerAbsolute{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerPlayIcon{
  margin: 0;
  position: absolute;
  top: 48%;
  left: 49%;
  transform: translate(-50%, -50%);
}

.blueBorder{
  background-color: $midLightBlue;
  height: 47px;
  width: 47px;
  border-radius: 24px;
}

.darkCard{
  background-color:$dark;
  height: 23rem;
  position: relative;
}

.lightCard{
  background-color:$light;
  height: 23rem;
  position: relative;
}

.btn-primary{
  background-color: $midDarkBlue !important;
  border-color: $darkBlue !important;
  color: $dark;
  font-family: $bodyFont;
  font-weight:600!important;
}

.btn-primary:hover{
  background-color:$midLightBlue !important;
}

.bodyTextDark{
  font-family: $bodyFont;
  font-weight:200 !important;
  color: $dark;
}

.bodyTextLight{
  font-family: $bodyFont;
  font-weight:200 !important;
  color: $light;
}

.blueBackground{
  background-color:#243EAB;
}

.blueGradientBackground{
background: linear-gradient(217deg, rgba(78, 36, 171,1), rgba(78, 36, 171,0) 70.71%),
            linear-gradient(127deg, rgba(36, 62, 171,1), rgba(36, 62, 171,0) 70.71%),
}

.gradientBackground{
  background: 
      radial-gradient(circle, rgba(130,230,218, 1), rgba(130,230,218, 0)80%),
      linear-gradient(160deg, rgba(69,231,216,1), rgba(69,231,216,0) 60%),
      linear-gradient(45deg, rgba(11,121,173,1), rgba(11,121,173,0) 50%),
      linear-gradient(130deg, rgba(11,154,148,1), rgba(11,154,148,0) 40%),
      linear-gradient(215deg, rgba(10,153,100,1), rgba(10,153,100,20%) 50%),
      linear-gradient(330deg, rgba(6,70,95,1), rgba(6,70,95,0) 50%);
}

.tanGrandientBackground{
  background-image: 
    linear-gradient(to right top, #a18e6d, #b8a88d, #cfc3ae, #e7dfd0, #fffbf3);
}

.darkBlueGradientText{
  background: -webkit-linear-gradient(#243EAB,$midBlue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blueGradientText{
  font-size: 72px;
  background: -webkit-linear-gradient(#5576FF,#55CBFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText{
  font-size: 72px;
  background: -webkit-linear-gradient($darkTeal,$lightTeal);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.backgroundDark{
  background-color: $dark;
}

.backgroundMedium{
  background-color: $midLight;
}

.backgroundMidDark{
  background-color: $midDark;
}

.headerText{
  font-family: $headerFont;
  font-weight: 700;
  font-size: $largeFont;
  color: $lightest;
}

.headerTextDark{
  font-family: $headerFont;
  font-weight: 700;
  font-size: $largeFont;
  color: $dark;
}

.smallTitleLight{
  font-family: $bodyFont;
  font-weight:600!important;
  color: $lightest;
}

.smallTitleDark{
  color: $dark;
  font-family: $bodyFont;
  font-weight:600!important;
}

.accentTextDark{
  font-family: $headerFont;
  color: $dark;
  font-size: 1.1rem;
  line-height: $accentHeight;
  text-align: center;
}

.bodyTextLight{
  font: 1rem $bodyFont;
  color: $lightest;
  line-height: $lineHeight;
}

.bodyTextDark{
  font: 1rem $bodyFont;
  color: $dark;
  line-height: $lineHeight;
}

.borderMedium{
  border: solid $medium;
}

.borderLight{
  border: solid $light;
}

.overflow{
  overflow: hidden;
}

.backgroundLightest{
  background-color: $lightest !important;
}

.tealBackground {
  background-color: $lightTeal !important;
  color: $dark !important;
}

/*ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}*/